*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
    height: 100%;
    width: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: ;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 700;}
/*-------------------------------*/
@font-face {
    font-family: "Montserrat-Black";
    src: url("../fonts/Montserrat/static/Montserrat-Black.ttf");
}
@font-face {
    font-family: "Montserrat-Regular" ;
    src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf");
}
body{
    font-family: "Montserrat-regular";
    background-color: black;
}

.skils_info li:before {
    color: #FB6D3A; /* Цвет маркера */
    content: "• "; /* Сам маркер */
   }
   ol{
       padding-left:15px;
   }
   h1 h2 h3 h4{
    font-family: "Montserrat-Black";
    }
   h1{
    font-size: 45px;
    line-height: 55px;
   }
   h2{
    font-size: 22px;
    line-height: 27px;}
   h3{}
   h4{
    line-height: 17px;
    font-size: 14px;

   }
   h5{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
   }
   a{
       color: #000;
       Opacity: 80%;
   }
   .table {
    margin-left: auto;
    margin-right: auto;
    background: #F5F7FA;
    width: 1280px;
    height: 1399px;
    padding: 40px;
}
.resume_holder {
    display:block;
    width: 1200px;
    height: 1319px;
    box-shadow: 6px 6px 20px 10px rgba(0,0,0, 0.1);
    

}
.sidebar {
    
    background: #1E2939;
    width: 370px;
    height: 1319px;
    float: left;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;

}
.image_holder {
    margin-top: 40px;
    margin-bottom: 51px;
}
.side_info{
    padding-left: 40px;
    color:#ffffff;
}
.contact_info {
    margin-bottom: 47px;
}
.skils_info {
}
.skils_info li:before {
    color: #FB6D3A; /* Цвет маркера */
    content: "• "; /* Сам маркер */
   }
.tech_skils_info {
    margin-bottom: 44px;
}
.soft_skils_info {
}
.main_content {
    background: #ffffff;
    width: 830px;
    height: 1319px;
    float: right;
    padding-left:88px ;
    padding-right: 217px;
    padding-top: 102px;
  
}
.abot_info_top {
}
.main_info {
    
}
.projects {
}
.work_experience {
}
.lost_job {
}
.organization {
    color: #FB6D3A;
}
.second_job {
}
.first_job {
}
.education {
}
.main_education {
}
